@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

#dropdown-menu-k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-k .nav .link,
#dropdown-menu-k .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#dropdown-menu-k .navbar,
#dropdown-menu-k .dropdown-menu {
  background: #333333;
}
#dropdown-menu-k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-k .dropdown-menu a:hover,
#dropdown-menu-k .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-k .navbar-toggler {
  color: #ffffff;
}
